nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  }
  
  nav span {
    font-family: "Bungee", sans-serif;
    color: #A19930;
  }

  #top-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A19930;
  }

  