form {
  display: flex;
  flex-direction: column;
}
form label {
  font-weight: 500;
  padding: 12px 12px;
}

form textarea {
  border: none;
  border-bottom: solid 5px;
  background-color: #e6f5f9e0;
  color: #545149;
  resize: none;
  overflow: scroll;

}

form div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  padding: 12px 12px;

}

form div button {
  background-color:#A19930;
  color: #6348A1;
  border-radius: 1;
  border-style: solid;
  border-color: #3888A1;
}

